<div>
  <div class="row-fluid">    
    <div class="span12">
      No options here
    </div>
  </div>
</div>

<h5>Panel Style Settings</h5>
<div class="row-fluid">
  <div class="span3">
      <label class="small">Background Color</label>
      <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelColor" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Border Width</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelBorderWidth" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Background Color</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelBorderColor" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Border Radius</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelBorderRadius" ng-change="set_refresh(true)">
  </div>
</div>
<div class="row-fluid">
  <div class="span3">
    <label class="small">Font Color</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelFontColor" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Font Size</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelFontSize" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Font Weight</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelFontWeight" ng-change="set_refresh(true)">
  </div>
</div>