<div class="row-fluid">
  <div class="span9">
    <h6>Facet Pivot String <tip>Separated by commas</tip></h6>
    <input array-join bs-typeahead="fields.list" style="width:500px;" type="text" placeholder="field1,field2,..." class="input-small" ng-model="panel.facet_pivot_strings" ng-change="set_refresh(true)">
  </div>

  <div class="span3">
    <h6>Facet Limit</h6>
    <input type="number" class="input-medium" ng-model="panel.facet_limit" ng-change="set_refresh(true)">
  </div>
  <div>
    <h6>Colors</h6>
  </div>
  <div class="span2">
    <button class="btn btn-success" ng-click="addColor();" ng-change="set_refresh(true)">Add Color</button>
  </div>
  <table class="table table-condensed table-striped">
    <tr ng-repeat="color in panel.colors" data-drag="false" jqyoui-draggable="{animate:true}">
      <td class="span3">
        <label class="small">Color Field <tip>This is one of the colors that will be rotated through by the panel.</tip></label>
        <input type="text" class="input-medium" style="width:200px;" ng-model="color.code" ng-change="set_refresh(true)">
      </td>
      <td ng-show="panel.colors.length > 1">
        <button class="btn btn-danger" ng-click="removeColor(color)"><i class="icon-remove"></i></button>
      </td>
    </tr>
  </table>
</div>

<h5>Panel Style Settings</h5>
<div class="row-fluid">
  <div class="span3">
      <label class="small">Background Color</label>
      <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelColor" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Border Width</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelBorderWidth" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Background Color</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelBorderColor" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Border Radius</label>
    <input type="text" class="input-medium" style="width:100px;" ng-model="panel.panelBorderRadius" ng-change="set_refresh(true)">
  </div>
</div>