<div class="row-fluid">
  <div class="span3">
    <form>
      <h6>Field <tip data-placement="right">2 letter country or state code</tip></h6>
      <input bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.field" ng-change="set_refresh(true)">
    </form>
  </div>
  <div class="span2">
    <h6>Max <tip>Maximum countries to plot</tip></h6>
    <input class="input-mini" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
  </div>
  <div class="span1"><h6>Map</h6>
    <select ng-change="$emit('render')" class="input-small" ng-model="panel.map" ng-options="f for f in ['world','world-antarctica','europe','usa','japan']"></select>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">
    <label class="small">Mode <tip data-placement="right">For min, mean, max, and sum modes. Field type has to be numeric.</tip></label>
    <select ng-change="set_refresh(true)" class="input-small" ng-model="panel.mode" ng-options="f for f in ['count','min','mean','max','sum']"></select>
  </div>
  <div class="span2" ng-show="panel.mode != 'count'">
    <button class="btn btn-success" ng-click="addMetric();" ng-change="set_refresh(true)">Add Metric</button>
  </div>
</div>
<table class="table table-condensed table-striped" ng-show="panel.mode != 'count'">
  <tr ng-repeat="metric in panel.stats_fields" data-drag="false" jqyoui-draggable="{animate:true}">
    <td class="span3">
      <label class="small">Stats Field <tip>This is the field that contains numerical values.</tip></label>
      <input type="text" class="input-large" placeholder="Field name" bs-typeahead="fields.list"
          ng-model="metric.param" ng-change="set_refresh(true)">
    </td>
    <td class="span3">
      <label class="small">Decimal Points <tip>The number of digits after the decimal point.</tip></label>
      <select class="input-mini" ng-model="metric.decimal_points" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9]"></select>
    </td>
    <td class="span5">
      <label class="small">Colors</label>
      <input type="text" class="input-medium" style="width:200px;" ng-model="metric.colors" ng-change="set_refresh(true)">
    </td>
    <td>
      <button class="btn btn-danger" ng-click="removeMetric(metric)"><i class="icon-remove"></i></button>
    </td>
  </tr>
</table>
<div class="row-fluid">
  <div class="span2" ng-show="panel.map == 'world'">
    <h6>Country Names
    <tip>Coutry Names in the World Map would be detected, if checked</tip>
    </h6>
    <input class="input-small" ng-disabled="panel.map != 'world'" ng-model="panel.useNames" type="checkbox" ng-change="set_refresh(true)"></inpt>
  </div>
</div>



display: block;width: 70vw;height: 80vh;top: 10vh;left: 15vw;